.ping-display {
  position: absolute;
  display: inline-flex;
  align-items: center;
  height: 7vh;
  top: 0;
  right: 0;
  padding: 0 5px;
  background-color: var(--clr-bg-primary);
  z-index: 100;
}

.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: transparent solid 3px;
  margin-right: 5px;
  background-color: rgba(0, 255, 0, 0.5);
  transition: all 0.5s ease;
}

.dot.off { background-color: rgba(255, 0, 0, 0.5); }

.dot.rec {
  background-color: transparent;
  border-top: rgba(255, 0, 0, 0.5) solid 3px;
  animation: spin 1s infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}